<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    팀명&nbsp;&nbsp;&nbsp;&nbsp;
    <%= form.text_field :t_name %><br><br>
  </div>

  <div class="field">
    과목명&nbsp;
    <%= form.text_field :c_name %><br><br>
  </div>

  <div class="field">
    교수명&nbsp;
    <%= form.text_field :p_name %><br><br>
  </div>

  <div class="actions">
    <input type="submit" value="확인" />
  </div>
<% end %>
