<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-grid gap-2">
    팀명&nbsp;&nbsp;&nbsp;&nbsp;
    <%= form.text_field :t_name %><br>
  </div>

  <div class="d-grid gap-2">
    과목명&nbsp;
    <%= form.text_field :c_name %><br>
  </div>

  <div class="d-grid gap-2">
    교수명&nbsp;
    <%= form.text_field :p_name %><br>
  </div>

	<div class="d-grid gap-2">
		<button class="btn btn-lg btn-default" type="submit" style="background:#1C1C1C; color:#F9FAFA;">확인</button>
	</div>
<% end %>
