<p id="notice"><%= notice %></p>

<h1>teams</h1>

<table>
  <thead>
    <tr>
      <th>t_name</th>
      <th>c_name</th>
		<th>p_name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |teams| %>
      <tr>
        <td><%= teams.t_name %></td>
        <td><%= teams.c_name %></td>
		 <td><%= teams.p_name %></td>
        <td><%= link_to 'Show', teams %></td>
        <td><%= link_to 'Edit', edit_admin_path(teams) %></td>
        <td><%= link_to 'Destroy', teams, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New team', new_team_path %>
