<!DOCTYPE html>
<html lang="ko">
<head>
	
</head>

<body>
	<div id="wrap">
		
		
		<div class="team_page">
			
			<% if user_signed_in? %>
			<% @@uht = Uht.where(team_id: @team.id) %>
				<% if Admin.where(user_id: current_user.id, team_id: @team.id).exists? %>
					
			
					<div class="category">
						<nav class="nav">
							<ul>
								<li><%= link_to "조별활동과정", activity_list_path(params[:id]), method: :post %></li>
								<li><%= link_to "일정관리", write_meeting_path(params[:id]), method: :post %></li>
								<li><a href="#">Menu3</a></li>
								<% if Admin.where(user_id: current_user.id).exists? %>
									<li><%= link_to "멤버관리", members_path(params[:id]), method: :post %></li>
								<% end %>
							</ul>
						</nav>
					</div>
					
					<div class="contents">
						오늘은 <%= @t.to_date %><br>
						<% @lately_meeting.each do |meeting| %>
								<%= meeting.schedule %><br>
								<%= meeting.start_time.to_date %>
								<%= meeting.start_time.strftime("%k:%M %p")%><br>
								<%= meeting.place %><br>
						<% end %>
						팀쇼 <%= @team.id %><br>
					</div>
					
			
			
				<% else %>
			
					<% if Uht.where(user_id: current_user.id, team_id: @team.id).exists? %>
					
						<div class="category">
							<nav class="nav">
								<ul>
									<li><%= link_to "조별활동과정", activity_list_path(params[:id]), method: :post %></li>
									<li><%= link_to "일정관리", write_meeting_path(params[:id]), method: :post %></li>
									<li><a href="#">Menu3</a></li>
									<% if Admin.where(user_id: current_user.id).exists? %>
										<li><a href="#">멤버관리</a></li>
									<% end %>
								</ul>
							</nav>
						</div>
					
						<div class="contents">
							오늘은 <%= @t.to_date %>
							팀쇼 <%= @team.id %>
						</div>
			
					<% else %> 
						가입하시겠습니까?
						<%= button_to "가입하기", uhts_path(uht: {user_id: current_user.id, team_id: @team}) %>
					<% end %>
				<% end %>
			<% else %>
				로그인 페이지
			<% end %>
			<%= link_to 'Edit', edit_team_path(@team) %> |
			<%= link_to 'Back', teams_path %>
		</div>
		





	</div>
</body>