<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :team_id, value: params[:team_id] %>
  </div>

  <div class="field">
    일정
    <%= form.text_field :schedule %>
  </div>

  <div class="field">
    날짜
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    장소
    <%= form.text_field :place %>
  </div>

  <div class="actions">
    <input type="submit" value="확인" />
  </div>
<% end %>
