
	<div class="row">

		<%= form_with(model: meeting, local: true) do |form| %>


	  	<div class="col-md-6" >
			<%= form.hidden_field :team_id, value: params[:team_id] %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6" style="float:left;">
			일정
			<%= form.text_field :schedule %>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			장소
			<%= form.text_field :place %><br><br>
			날짜
			<%= form.datetime_select :start_time %>&nbsp;&nbsp;&nbsp; 
			<div class="actions" style="float:right;">
				<button class="btn btn-outline-primary" type="submit" style="color:#2b2b2b">일정등록</button>
			</div>
		</div>
		<div class="col-md-6">
			
		</div>
		<% end %>
		

	</div>