<h1>New Meeting</h1>

<%= render 'form', meeting: @meeting %>



<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
        <%= meeting.schedule %><br />
		<%= meeting.place %><br />
		<%= meeting.start_time.strftime("%k:%M %p")   %>
    </div>
  <% end %>
<% end %>
<%= link_to 'Back', meetings_path %>
