<div id="wrap">
	
	<div class="user_edit">
		
	
		<h2>회원정보 수정</h2><br />

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="field">
			이메일<br />
			<%= f.email_field :email, autofocus: true, autocomplete: "이메일" %><br /><br />
		  </div>

		  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		  <% end %>

		  <div class="field">
			새로운 비밀번호
			  <% if @minimum_password_length %>
			  <em>(최소 <%= @minimum_password_length %> 자)</em>
			<% end %>
			  <br />
			<i>(비밀번호를 변경하고 싶지 않으시다면 비워두세요.)</i><br />
			<%= f.password_field :password, autocomplete: "new-password" %><br /><br />
			
		  </div>

		  <div class="field">
			비밀번호 확인<br />
			<%= f.password_field :password_confirmation, autocomplete: "new-password" %><br /><br />
		  </div>

		  <div class="field">
			현재 비밀번호<br />  
			<i>(비밀번호 변경을 위해 필요합니다.)</i><br />
			<%= f.password_field :current_password, autocomplete: "current-password" %><br /><br />
		  </div>

			<div class="field">
				이름<br />
				<%= f.text_field :name, autocomplete: "name" %><br /><br />
			</div>

			<div class="field">
				학번<br />
				<%= f.text_field :number, autocomplete: "number" %><br /><br />
			</div>

		  <div class="actions">
			<%= f.submit "수정하기" %><br /><br /><br /><br />
		  </div>
		<% end %>

		
		<h3>탈퇴하시겠습니까?</h3>

		<p> <%= button_to "탈퇴하기", registration_path(resource_name), data: { confirm: "정말 탈퇴하시겠습니까?" }, method: :delete %></p>
	</div>
</div>
