<div id="wrap">
	
	<div class="sign_up">
		
	
		<h2>회원가입</h2>

		<br>

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="field">
			이메일<br>
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %><br><br>
		  </div>

		  <div class="field">
			비밀번호<br>
			<% if @minimum_password_length %>
			<em>(최소 <%= @minimum_password_length %> 글자)</em>
			<% end %><br>
			<%= f.password_field :password, autocomplete: "new-password" %><br><br>
		  </div>

		  <div class="field">
			비밀번호 확인<br>
			<%= f.password_field :password_confirmation, autocomplete: "new-password" %><br><br>
		  </div>

			<div class="field">
				이름<br>
				<%= f.text_field :name, autocomplete: "name" %><br><br>
			</div>

			<div class="field">
				학번<br>
				<%= f.text_field :number, autocomplete: "number" %><br><br>
			</div>

		  <div class="actions">
			<%= f.submit "가입하기" %>
		  </div>
		<% end %>
	</div>
</div>