<div id="wrap">
	
	<header id="header">
		<div class="logo">
			<a href="<%= root_path %>"><img src="<%= asset_path 'logo.png' %>" ></a>
		</div>
		<div class="strong">
			<strong>로그인</strong>
		</div>
		
	</header>
	
	<div class="back">
		<br><br><br><br><br><br>
		<div class="log_in center-block">
			<br>
			
			<div class="box center-block">
				<h2 style="text-align:center;">로그인</h2><br />
				
				
				
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			
				<div class="field d-grid gap-2">
					이메일<br>
					<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
				</div>
				<br>
				

				<div class="field d-grid gap-2">
					비밀번호<br>
					<%= f.password_field :password, autocomplete: "new-password" %><br>
				  </div>
				
				<div class="d-grid gap-2">
				 <button class="btn btn-lg btn-default" type="submit" style="background:#1C1C1C; color:#F9FAFA;">로그인</button>
				</div>
				<% end %>

				<br><br>
				 
				<%= render "devise/shared/links" %>
				
			</div>
			
			<br><br><br>
		</div>
	</div>
</div>