<!DOCTYPE html>
<html lang="ko">
<head>
	
</head>

<body>
	<div id="wrap">
	
		<div class="category">
			<div class="team_main">
				<a href="http://jo-byeol-mbjdm.run.goorm.io/teams/<%= params[:team_id] %>"><%= Team.find(params[:team_id]).t_name %></a>
			</div>
			<nav class="nav">
				<ul>
					<li><a href="#">공지사항</a></li>
					<li><%= link_to "조별활동과정", activity_list_path(params[:team_id]), method: :post %></li>
					<li><%= link_to "일정관리", write_meeting_path(params[:team_id]), method: :post %></li>
						<% @admin.each do |admin| %>
							<% if admin.user_id == current_user.id %>
								<li><%= link_to "멤버관리", members_path(params[:team_id]), method: :post %></li>
								<li><%= link_to "팀관리", edit_team_path(params[:team_id]) %></li>
							<% end %>
						<% end %>
				</ul>
			</nav>
		</div>
		
		
		<div class="member_setting">
			
		공유링크 <a href="http://jo-byeol-mbjdm.run.goorm.io/teams/<%= params[:team_id] %>">http://jo-byeol-mbjdm.run.goorm.io/teams/<%= params[:team_id] %></a><br><br>
		
		
			
		
			<h2>멤버관리</h2>


			<table class="member_table">
			  <thead>
				<tr>
					<th>이름</th>
					<th>학번</th>
					<th>이메일</th>
					<th colspan="1"></th>
				</tr>
			  </thead>

			<tbody>
			<% @uht.each do |uht| %>
				<tr>
					<td><%= User.find(uht.user_id).name %></td>
					<td><%= User.find(uht.user_id).number %></td>
					<td><%= User.find(uht.user_id).email %></td>
					<% if uht.user_id != current_user.id %>
					<td><%= link_to '강퇴하기', uht, method: :delete, data: { confirm: '정말 강퇴 시키겠습니까?' } %></td>
					<% end %>
				</tr>
			<% end %>
			</tbody>
			</table>
		</div>
	</div>
</body>