<div class="activity_new center-block">
<%= form_with(model: post, local: true) do |form| %>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :team_id, value: params[:team_id] %>
  </div>

  <div class="field d-grid gap-2">
    제목<br>
    <%= form.text_field :title %>
  </div>
<br>
  <div class="field d-grid gap-2">
    내용<br>
    <%= form.text_area :contents %>
  </div>
<br>
  <div class="actions d-grid gap-2">
		<button class="btn btn-lg btn-default" type="submit" style="background:#1C1C1C; color:#F9FAFA;">확인</button>
	</div>
<% end %>
</div>