<div class="activity_new center-block">

<%= form_with(model: activity, local: true) do |form| %>

  <div class="field">
    <%= form.hidden_field :team_id, value: params[:team_id] %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field d-grid gap-2">
    제목<br>
    <%= form.text_field :title %>
  </div>
	
	<br>

  <div class="field d-grid gap-2">
    자료조사<br>
    <%= form.text_area :research %>
  </div>

	<br>
	
  <div class="field d-grid gap-2">
    PPT
    <%= form.text_area :ppt %>
  </div>

	<br>
	
  <div class="field d-grid gap-2">
    대본
    <%= form.text_area :script %>
  </div>

	<br>
	
  <div class="field d-grid gap-2">
    첨부파일 
    <%= form.file_field :attachment %>	
	※ zip으로 압축하여 첨부
  </div>

	<br>
	
  <div class="actions d-grid gap-2">
		<button class="btn btn-lg btn-default" type="submit" style="background:#1C1C1C; color:#F9FAFA;">확인</button>
	</div>
<% end %>
	
</div>